@font-face {
  font-family: "Roboto";
  src: url(<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">) format ('truetype');
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(242, 154, 138);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffffff;
  font-family: Roboto;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: capitalize;
}
li a:hover:not(.active) {
  background-color: rgba(252, 205, 196, 0.2)
}
.active {
  background-color: rgba(252, 205, 196, 0.5)
  }
